#####################################################################
#                                                                   #
# Script:  .dockerignore                                            #
#                                                                   #
# Purpose: A list of files and dirs to be ignored by Docker.        #
#                                                                   #
# Date:    28th November 2025                                       #
#                                                                   #
# Author:  admin <admin@nova>                                       #
#                                                                   #
#####################################################################

#
# Hidden files to be ignored
#
.editorconfig
.gitignore
.prettierignore
.prettierrc.json

#
# Standard files to be ignored
#
CHANGELOG.md
cspell.json
LICENSE.txt
README.md

#
# Hidden dirs to be ignored
#
.git
.github
.husky

#
# Standard dirs to be ignored
#
coverage
dist
node_modules
