#####################################################################
#                                                                   #
# Script:  .gitignore                                               #
#                                                                   #
# Purpose: A list of files and dirs to be ignored by git.           #
#                                                                   #
# Date:    16th June 2025                                           #
#                                                                   #
# Author:  ecodev admin <admin@ecodev.eco>                          #
#                                                                   #
#####################################################################

#
# File extensions to be ignored
#
.bak
.DS_Store
.err
.gz
.log
.pid
.out
.rds
.swp

#
# Hidden dirs to be ignored
#
.idea/

#
# Hidden files to be ignored
#
.env

# Dirs to be ignored
#
coverage
deps
dist
node_modules/

*storybook.log
storybook-static
