#####################################################################
#                                                                   #
# Script:  compose.yaml                                             #
#                                                                   #
# Purpose: Docker compose definition for nova-web                   #
#          with overrides defined in compose.override.yaml          #
#                                                                   #
# Date:    28th November 2025                                       #
#                                                                   #
# Author:  nova admin <admin@nova.eco>                              #
#                                                                   #
#####################################################################

services:
  nova-web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NOVA_WEB_API_HOST: ${NOVA_WEB_API_HOST}
        NOVA_WEB_API_PORT: ${NOVA_WEB_API_PORT}
        NOVA_WEB_API_PROTOCOL: ${NOVA_WEB_API_PROTOCOL}
        NOVA_WEB_AUTHOR: ${NOVA_WEB_AUTHOR}
        NOVA_WEB_NAME: ${NOVA_WEB_NAME}
        NOVA_WEB_NETWORK: ${NOVA_WEB_NETWORK}
        NOVA_WEB_PORT: ${NOVA_WEB_PORT}
    container_name: '${NOVA_WEB_NAME}'
    env_file:
      - path: ./.env
        required: true
    ports:
      - '${NOVA_WEB_PORT}:${NOVA_WEB_PORT}'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${NOVA_WEB_PORT}/healthcheck']
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
