@reference "tailwindcss";

@layer components {
  .imageContainer {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
  }

  .imageContainer:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
